

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img
        width="40"
        alt="Logo"
        src="assets/img/favicon3.ico"
    />
    <span>Me-Frontend-Angular</span>
    <div class="spacer"></div>
    <nav class="navbar">
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/reports/week/1">Reports</a>
        <a *ngIf="!isLoggedIn" routerLink="/register">Register</a>
        <a *ngIf="!isLoggedIn" routerLink="/login">Log in</a>
        <a *ngIf="isLoggedIn" routerLink="/logout">Log out</a>
    </nav>
</div>

<div class="content" role="main">
    <router-outlet></router-outlet>
</div>
